doctype html
html
  head
    meta
    link(rel="stylesheet", href="/CSS/main.css")
  
  body
    #top-bar
      a(href="/")
        img(src="/Images/logo-revert.png", alt="HasHaber", id="main-logo")
      input(type="text", placeholder="Search...", id="search-bar")
      a(href="", id="search-button") &#x1F50D
      a(href="", id="dark-light-theme-button") &#x1F315

      #date-clock-div
        span#date-span
        span#clock-span

      script.
        var clockSpan = document.getElementById("clock-span");
        var dateSpan = document.getElementById("date-span")
        date_time()

        function date_time() {
          var date = new Date();
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear()
          var second = date.getSeconds();
          var minute = date.getMinutes();
          var hour = date.getHours();

          dateSpan.textContent =
            ("0" + day).substr(-2) + "-" + ("0" + month).substr(-2) + "-" + year;
          clockSpan.textContent =
            ("0" + hour).substr(-2) + ":" + ("0" + minute).substr(-2) + ":" + ("0" + second).substr(-2);
        }
        setInterval(date_time, 1000);

    
    .register-login-upper-right-corner
      if !user || user.isLoggedIn === false
        form(action="/login" method="get") 
          input(type="submit", value="Login", id="login-upper-right")
        form(action="/register" method="get") 
          input(type="submit", value="Register", id="register-upper-right") 
      else
        form(action="/api/logout", method="post")
          input(type="submit", name="logout", value="Logout", id="logout-button")
    
    .post-news-button
      if user && user.isLoggedIn === true
        form(action="/news-posting-page" method="get")
          input(type="submit", value="Post News", id="post-news-upper-right")
    
    .main-image
      ul
        li
          img.main-image(src= newsData.url, alt= "Image cannot be loaded")
          h2.title #{newsData.title}
          p.content #{newsData.content}

    div#news-page-comment-section-div
      p(style="font-weight: 900;") Comments
      form(action="/api/news/" + newsData.newsId + "/addComment/", method="post")
        textarea#news-page-add-comment(placeholder="Write Comment Here...", name="commentText", rows="5", minlength="1", maxlength="300")
        input#news-page-comment-section-comment-button(type="submit", value="Comment") 
      ul
        each comment in newsData.comments
          li.comment-section-li
            .comment-section-div
              span.comment-section-image-username-date-span
                img.comment-reply-avatar-image(src=comment.avatar || '/GuestAvatar.png', alt="profile")
                span.comment-section-username-date-span
                  p.comment-section-username-p #{comment.commentName} #{comment.commentSurname.substring(0,1)}.
                  p.comment-section-created-at Posted on: #{new Date(comment.createdAt).toLocaleString()}
              p.comment-section-comment-p #{comment.commentText}
              form(action="/api/news/" + newsData.newsId + "/addCommentReply/", method="post")
                input(type="hidden", name="commentId", value=comment.commentId)
                textarea#news-page-add-reply(placeholder="Write Reply Here...", name="replyText", rows="3", minlength="1", maxlength="200")
                input#news-page-comment-section-reply-button(type="submit", value="Reply") 

              ul
                each reply in comment.commentReply
                  li.comment-reply-li
                    .news-page-reply-div
                      span.comment-section-reply-image-username-date-span
                        img.comment-reply-avatar-image(src=reply.replyUser.avatar || '/GuestAvatar.png', alt="profile")
                        span.comment-section-username-date-span
                          p.comment-section-reply-username-p #{reply.replyUser.name} #{reply.replyUser.surname.substring(0,1)}.
                          p.comment-section-reply-created-at Replied on: #{new Date(reply.createdAt).toLocaleString()}
                      p.comment-section-reply-text-p #{reply.replyText}  